*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#ff9a9e,#fad0c4);

overflow-x:hidden;

text-align:center;

color:white;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

h1{

font-family:"Great Vibes",cursive;

font-size:70px;

}

.subtitle{

margin-top:20px;

font-size:22px;

}

button{

padding:15px 35px;

border:none;

border-radius:50px;

margin-top:30px;

background:#ff3366;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}

.hidden{

display:none;

}

section{

padding:80px 20px;

}

.gallery .images{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.gallery img{

width:280px;

height:350px;

object-fit:cover;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

#timer{

font-size:35px;

margin-top:20px;

font-weight:bold;

}

.heart{

position:fixed;

top:-20px;

color:#ff3366;

animation:fall linear forwards;

}

@keyframes fall{

to{

transform:translateY(110vh);

}

}